{# empty Twig template #}
<p>Frase enviada por <strong>{{ nome }}</strong> em
    <strong>{{ "now" | date("d/m/Y H:i") }}</strong>.</p>

<p><strong>CPF:</strong> {{ cpf }}</p>
<p><strong>Data de Nascimento:</strong> {{ dataNascimento }}</p>
<p><strong>Telefone:</strong> {{ telefone }}</p>
<p><strong>Respons&aacute;vel:</strong> {{ responsavel ~ ' (' ~ cpfResponsavel ~ ')' ~ ' - ' ~ telefoneResponsavel }}</p>
<p><strong>Regulamento aceito?</strong> {{ regulamentoAceito }}</p>
<p><strong>Frase:</strong></p>
<p>{{ frase|raw }}</p>
