{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2" style="background-color: #DD00AA;
                 width: 100%; height: 200px; margin-top: 20px; margin-bottom: 20px;"></div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                {% if date("now"|date('Y-m-d')) < date('2019-04-31'|date('Y-m-d')) %}
                    <form name="form-entrada" id="form-entrada" method="POST" 
                          action="{{ path('site_processa_formulario') }}">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>

                        <div class="row">
                            <div class="col-6">
                                {{ form_widget(form.nome, {'attr': {'placeholder': 'Nome'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.cpf, {'attr': {'placeholder': 'CPF'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_widget(form.dataNascimento, {'attr': {'placeholder': 'Data de Nascimento'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.telefone, {'attr': {'placeholder': 'Telefone'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_widget(form.nomeResponsavel, {'attr': {'placeholder': 'Nome do Responsável'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.cpfResponsavel, {'attr': {'placeholder': 'CPF do Responsável'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_widget(form.filial, {'attr': {'placeholder': 'Cidade Mais Próxima'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.estudaIngles, {'attr': {'placeholder': 'Estuda Inglês?'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(form.frase) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <input type="checkbox" name="checkRegulamento" id="checkRegulamento" />
                                <label for="checkRegulamento">Estou de acordo com o regulamento</label> <br />
                                <span id="erroCheck"></span>
                            </div>
                            <div class="col-4">
                                <input type="submit" value="Enviar" class="btn botao-branco float-right" id="btn-enviar" />
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </form>
                    <p>Regulamento: </p>
                {% else %}
                    <p>O prazo se encerrou...</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <script type="text/javascript" src="{{ asset('js/jquery.mask.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <script>
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
                spOptions = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(SPMaskBehavior.apply({}, arguments), options);
                    }
                };

        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00', {reverse: true});
            $('.telefone').mask(SPMaskBehavior, spOptions);

            $('.datepicker').datepicker({
                language: 'pt-BR',
                endDate: '-16y'
            });

            jQuery.validator.addMethod("maiorQueZero", function (value, element) {
                return this.optional(element) || (parseFloat(value) > 0);
            }, "Valor deve ser maior que zero");

            $('#form-entrada').validate({
                submitHandler: function (form) {

                    $('#btn-enviar').attr('disabled', 'disabled');
                    $('#btn-enviar').val("Enviando frase...");

                    $(form).ajaxSubmit({
                        success: function (response, status, xhr, form) {

                            if (response == '0') {
                                alert('Frase enviada com sucesso! Boa sorte!');
                                location.reload();
                            } else {
                                alert(response);
                            }

                            $('#btn-enviar').removeAttr('disabled');
                            $('#btn-enviar').val("Enviar");

                        }
                    });

                    return false;

                },
                rules: {
                    'sitebundle_entrada[nome]': 'required',
                    'sitebundle_entrada[cpf]': {
                        required: true,
                        cpfBR: true
                    },
                    'sitebundle_entrada[dataNascimento]': 'required',
                    'sitebundle_entrada[telefone]': {
                        required: true
                    },
                    'sitebundle_entrada[nomeResponsavel]': 'required',
                    'sitebundle_entrada[cpfResponsavel]': {
                        required: true,
                        cpfBR: true
                    },
                    'sitebundle_entrada[filial]': {
                        required: true,
                        maiorQueZero: true
                    },
                    'sitebundle_entrada[estudaIngles]': {
                        required: true,
                        maiorQueZero: true
                    },
                    'sitebundle_entrada[frase]': 'required',
                    'checkRegulamento': 'required'
                },
                messages: {
                    'sitebundle_entrada[nome]': 'Informe seu nome completo',
                    'sitebundle_entrada[cpf]': {
                        required: "Informe seu CPF",
                        cpfBR: "Informe um CPF válido"
                    },
                    'sitebundle_entrada[dataNascimento]': 'Informe sua data de nascimento',
                    'sitebundle_entrada[telefone]': {
                        required: "Informe um telefone para contato"
                    },
                    'sitebundle_entrada[nomeResponsavel]': 'Informe o nome do responsável',
                    'sitebundle_entrada[cpfResponsavel]': {
                        required: "Informe seu CPF",
                        cpfBR: "Informe um CPF válido"
                    },
                    'sitebundle_entrada[filial]': {
                        required: "Escolha a cidade mais próxima",
                        maiorQueZero: "Escolha a cidade mais próxima"
                    },
                    'sitebundle_entrada[estudaIngles]': {
                        required: "Escolha uma opção acima",
                        maiorQueZero: "Escolha uma opção acima"
                    },
                    'sitebundle_entrada[frase]': 'Digite a sua frase acima!',
                    'checkRegulamento': 'required'
                },
                errorPlacement: function (error, element) {

                    if (element.attr("name") == "checkRegulamento") {
                        $("#erroCheck").text("É necessário concordar com os termos do regulamento.");
                    } else {
                        error.insertAfter(element);
                    }

                }
            });

        });
    </script>
{% endblock javascripts %}