{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2" style="background-color: #DD00AA;
                 width: 100%; height: 200px; margin-top: 20px; margin-bottom: 20px;"></div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                {% if date("now"|date('Y-m-d')) > date('2019-04-31'|date('Y-m-d')) %}

                    {% if user != null and user != 'anon.' %}
                        <p>Logado como {{ user.username }} <a href="{{ path('fos_user_security_logout') }}"><span>Sair</span>
                            </a></p>

                        {% if voto|length == 0 %}

                            <h4 class="text-center">Vote na melhor frase!</h4>
                            
                            <form name="form-voto" id="form-voto" action="{{ path('site_processa_voto') }}" method="POST">
                                
                                {% for e in entradas %}
                                    <p><input type="radio" id="{{ e.id }}" name="frases" value="{{ e.id }}" /> 
                                        <label for="{{ e.id }}">{{ e.frase|raw }} ({{ e.nome }})</label></p>
                                {% endfor %}
                                
                                <p class="error"><span id="erroCheck"></span></p>
                                
                                <input type="submit" value="Votar!" class="btn btn-primary" id="btn-votar" />
                            </form>
                            
                        {% else %}
                            <p>S&oacute; &eacute; poss&iacute;vel votar uma vez por usu&aacute;rio! 
                                Este usu&aacute;rio já votou em {{ voto[0].entrada.frase|raw }} ({{ voto[0].entrada.nome }})</p>
                        {% endif %}

                    {% else %}
                        <h4 class="text-center">Vote na melhor frase!</h4>

                        {% for e in entradas %}
                            <p>{{ e.frase|raw }} ({{ e.nome }})</p>
                        {% endfor %}
                        
                        <p class="text-center"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                            <span>Entre com sua conta da Google para poder votar!</span>
                            </a></p>
                    {% endif %}





                {% else %}
                    <p>A vota&ccedil;&atilde;o ainda n&atilde;o foi iniciada...</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <script type="text/javascript" src="{{ asset('js/jquery.mask.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <script>
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
                spOptions = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(SPMaskBehavior.apply({}, arguments), options);
                    }
                };

        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00', {reverse: true});
            $('.telefone').mask(SPMaskBehavior, spOptions);

            $('.datepicker').datepicker({
                language: 'pt-BR',
                endDate: '-16y'
            });

            jQuery.validator.addMethod("maiorQueZero", function (value, element) {
                return this.optional(element) || (parseFloat(value) > 0);
            }, "Valor deve ser maior que zero");

            $('#form-voto').validate({
                submitHandler: function (form) {

                    $('#btn-votar').attr('disabled', 'disabled');
                    $('#btn-votar').val("Salvando seu voto...");

                    $(form).ajaxSubmit({
                        success: function (response, status, xhr, form) {

                            if (response == '0') {
                                alert('Voto computado com sucesso!');
                                location.reload();
                            } else {
                                alert(response);
                            }

                            $('#btn-enviar').removeAttr('disabled');
                            $('#btn-enviar').val("Votar");

                        }
                    });

                    return false;

                },
                rules: {
                    'frases': 'required'
                },
                messages: {
                    'frases': 'Informe seu nome completo'
                },
                errorPlacement: function (error, element) {

                    if (element.attr("name") == "frases") {
                        $("#erroCheck").text("Por favor escolha uma frase acima!");
                    } else {
                        error.insertAfter(element);
                    }

                }
            });

        });
    </script>
{% endblock javascripts %}